.addCategoryButton {
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
}

.labelInput {
  color: #7d7d7d;
  font-size: 12px;
  font-family: Outfit;
  font-weight: 400;
}
.addSubCategory {
  width: 100%;
}
